EXPO_PUBLIC_API_URL=http://localhost:5000
EXPO_PUBLIC_SOCKET_URL=ws://16.16.24.40:8080
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBXBSZzen8-bLZ_KJURq1sHyc872ubOkDM
# DRIVER_GOOGLE_SERVICES_FILE=./google-services.json
# DRIVER_GOOGLE_SERVICES_JSON={"project_info":{}}
