<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250220049475-dummy-ios-client-id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250220049475-dummy-ios-client-id</string>
	<key>API_KEY</key>
	<string>AIzaSyBxau5b6uAdRO_VMqAQcjb-CKzZEwlYEmU</string>
	<key>GCM_SENDER_ID</key>
	<string>250220049475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ridego</string>
	<key>PROJECT_ID</key>
	<string>mitrip-6100d</string>
	<key>STORAGE_BUCKET</key>
	<string>mitrip-6100d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:250220049475:ios:0ee4443a47162e6e8ad0f6</string>
</dict>
</plist>
